<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfred.GitHubRepoHelper</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>002A25B6-144A-4AE9-9414-58C6B278C7EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBC6FD70-2BF4-4732-9733-4B71D23A56EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>421D6AD8-B8DB-4FF5-9CB8-F382965E47F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E368F8A-4C47-486F-8DDA-7177D3EF116D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B5B1CAD9-810E-4216-831F-6B207774F055</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy Repo to Clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C31E744C-C37B-4CCC-AC33-C6F8BC389D7D</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open Pull Requests</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>002A25B6-144A-4AE9-9414-58C6B278C7EA</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open Issues</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9FD600DD-D2F2-4F67-99FD-9AAFAAA75A34</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Open Projects</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42BDF7E7-280F-4E6B-82F5-CBC23136B074</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4310FFD1-6CDA-4F64-B8B9-FCE42C7B3ED3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4310FFD1-6CDA-4F64-B8B9-FCE42C7B3ED3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A2323EC-9E7C-4E74-96B1-BC07D9BA4DE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DE309FF-BF13-4FA4-9323-B5CEDA38B1D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42BDF7E7-280F-4E6B-82F5-CBC23136B074</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A2323EC-9E7C-4E74-96B1-BC07D9BA4DE7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8FC00A6-C926-438C-B5A0-C223B64377CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E368F8A-4C47-486F-8DDA-7177D3EF116D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8614F551-0C34-475D-8614-C6AC8B71D040</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FD600DD-D2F2-4F67-99FD-9AAFAAA75A34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B9C5070-AC0F-4954-942C-239F912274F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B5B1CAD9-810E-4216-831F-6B207774F055</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>115F7ECF-1C75-427B-9123-C7D3ACB1AD39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C31E744C-C37B-4CCC-AC33-C6F8BC389D7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2390335E-1BC5-4118-896C-5CFE6FD90856</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nic Lake</string>
	<key>description</key>
	<string>Access to your GitHub repos</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GitHub Repo Helper</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait ...</string>
				<key>script</key>
				<string>export query=$1

cat ./alfred-organization-repos.json | jq '{ items: map(.[]|select(.title|test("$query")))}'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./fuzzy.sh</string>
				<key>subtext</key>
				<string>Open a GitHub Repo</string>
				<key>title</key>
				<string>GitHub Repos</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>421D6AD8-B8DB-4FF5-9CB8-F382965E47F3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8614F551-0C34-475D-8614-C6AC8B71D040</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo -n $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8E368F8A-4C47-486F-8DDA-7177D3EF116D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo -n $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B5B1CAD9-810E-4216-831F-6B207774F055</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>115F7ECF-1C75-427B-9123-C7D3ACB1AD39</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2390335E-1BC5-4118-896C-5CFE6FD90856</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo -n "${query}/pulls"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C31E744C-C37B-4CCC-AC33-C6F8BC389D7D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo -n "${query}/issues"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>002A25B6-144A-4AE9-9414-58C6B278C7EA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BBC6FD70-2BF4-4732-9733-4B71D23A56EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo -n "${query}/projects?query=is%3Aopen"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9FD600DD-D2F2-4F67-99FD-9AAFAAA75A34</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6B9C5070-AC0F-4954-942C-239F912274F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>GitHub Repositories Updated</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D8FC00A6-C926-438C-B5A0-C223B64377CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./githubapi-get.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>42BDF7E7-280F-4E6B-82F5-CBC23136B074</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./alfred-ify.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4310FFD1-6CDA-4F64-B8B9-FCE42C7B3ED3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ugh</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Update GitHub Repos</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6DE309FF-BF13-4FA4-9323-B5CEDA38B1D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Clean up tempfile
rm -rf tempfile.txt</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./githubapi-cleanup.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8A2323EC-9E7C-4E74-96B1-BC07D9BA4DE7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## To set up, do the following:

1. Navigate to https://github.com/settings/tokens, and create a new Fine-Grain Token
2. Set the repo access to your desired level (recommended: All repositories)
	- If you set it to All repositories, under `Repository permissions`, find `Metadata` and set it to `Read only`
3. Save &amp; generate the token, and copy the value
4. Set your GH_USERNAME and GH_TOKEN environment variables.
5. Make sure that `jq` installed at `/opt/homebrew/bin/jq` (you can use `which jq` to check). If not installed, you can do so with `brew`: `brew install jq`

## Usage:

- Use the `ugh` command to Update your GitHub repo list. This will fetch all of the repos that you are a owner or contributor to, sanitize them, and generate your list
- If any part of the `ugh` command fails, right-click the workflow in the sidebar, Open in Terminal, run `chmod 777 *.sh`, and then try the `ugh` command again
- Once your list has been generated, `gh &lt;repo_name&gt;` will pull up the repository link, and you can then do the following:
	- `Enter`: go to repo
	- `⇧-Enter`: go to pull requests
	- `⌥-Enter`: go to issues
	- `⌃-Enter`: go to projects
	- `⌘-Enter`: copy the repo URL to your clipboard</string>
	<key>uidata</key>
	<dict>
		<key>002A25B6-144A-4AE9-9414-58C6B278C7EA</key>
		<dict>
			<key>note</key>
			<string>Get Repo Issues URL</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>115F7ECF-1C75-427B-9123-C7D3ACB1AD39</key>
		<dict>
			<key>note</key>
			<string>Copy Repo to Clipboard</string>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>2390335E-1BC5-4118-896C-5CFE6FD90856</key>
		<dict>
			<key>note</key>
			<string>Open Pull Requests</string>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>421D6AD8-B8DB-4FF5-9CB8-F382965E47F3</key>
		<dict>
			<key>note</key>
			<string>Configure this workflow before you begin</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>42BDF7E7-280F-4E6B-82F5-CBC23136B074</key>
		<dict>
			<key>note</key>
			<string>Fetch list of repos</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>4310FFD1-6CDA-4F64-B8B9-FCE42C7B3ED3</key>
		<dict>
			<key>note</key>
			<string>Sanitize repos</string>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>6B9C5070-AC0F-4954-942C-239F912274F1</key>
		<dict>
			<key>note</key>
			<string>Open Projects</string>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>6DE309FF-BF13-4FA4-9323-B5CEDA38B1D9</key>
		<dict>
			<key>note</key>
			<string>Update your repos. Once you've configured this workflow, run this to populate/update your repo list.</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>8614F551-0C34-475D-8614-C6AC8B71D040</key>
		<dict>
			<key>note</key>
			<string>Open Repo</string>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>8A2323EC-9E7C-4E74-96B1-BC07D9BA4DE7</key>
		<dict>
			<key>note</key>
			<string>Clean up tempfile</string>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>8E368F8A-4C47-486F-8DDA-7177D3EF116D</key>
		<dict>
			<key>note</key>
			<string>Get Repo URL</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>9FD600DD-D2F2-4F67-99FD-9AAFAAA75A34</key>
		<dict>
			<key>note</key>
			<string>Get Repo Projects URL</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>B5B1CAD9-810E-4216-831F-6B207774F055</key>
		<dict>
			<key>note</key>
			<string>Get Repo URL</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>BBC6FD70-2BF4-4732-9733-4B71D23A56EA</key>
		<dict>
			<key>note</key>
			<string>Open Issues</string>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>C31E744C-C37B-4CCC-AC33-C6F8BC389D7D</key>
		<dict>
			<key>note</key>
			<string>Get Repo PRs URL</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>D8FC00A6-C926-438C-B5A0-C223B64377CD</key>
		<dict>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Your username on GitHub</string>
			<key>label</key>
			<string>GitHub Username</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>GH_USERNAME</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Your fine-grain access token. See instructions on how to generate.</string>
			<key>label</key>
			<string>GitHub Access Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>GH_TOKEN</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://niclake.me/hello</string>
</dict>
</plist>
